code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes mymove {
  from {
    transform: scale(.8);
  }
  to {
    transform: scale(1);
  }
}

#me {
  animation: mymove 1s linear;
}

html {
  scroll-behavior: smooth;
}